body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: blue;
}

.partner-container {
    display: flex;
    flex-direction: row;
}

.section {
    flex: 1; /* Distribute the width equally among the sections */
    margin: 20px;
    padding: 25px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    text-align: center;
    border: 2px solid gold;
}

.section h2 {
    color: black;
    margin-top: 10px; /* Add spacing between image and text */
}

.partner-name {
    font-weight: bold;
}

.partner-img {
    max-width: 200px; /* Increase image size */
    margin-bottom: 10px; /* Add spacing below image */
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 1180px) {
    .partner-container {
        flex-direction: column; /* Vertical layout for mobile screens */
    }
}
